In [4]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import os
import subprocess
import time

In [100]:
# !g++ get_prob_win.cpp -o get_prob_win
!g++ get_prob_win_decay.cpp -o get_prob_win

In [123]:
c = 0.8
decay_rate = 1.08
res = {}

for m in range(1, 6):
    res[m] = {}
    for n in range(1, 6):
        out = subprocess.check_output(f"./get_prob_win {1/m} {m} {c/n} {n} {decay_rate}",
                                      shell=True)
        res[m][n] = 1000*(float(out.decode().split("\n")[-2].split(" ")[-1])
                          - 0.5)
data = pd.DataFrame(data=res).astype(int)
data

    1    2    3    4    5
1  55  110  124  126  122
2  21   82  103  109  109
3  15   79  103  112  114
4  17   83  108  119  123
5  24   90  116  128  134

In [125]:
data.to_excel("data.xlsx")